body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.animation-container {
    perspective: 1000px;
}

.animated-photo {
    width: 200px; 
    transform-origin: center;
    animation: photoAnimation 10s infinite ease-in-out;
}

@keyframes photoAnimation {
    0% {
        transform: scale(0) rotate(0deg);
    }
    50% {
        transform: scale(1) rotate(360deg); 
    }
    100% {
        transform: scale(0) rotate(-360deg); 
    }
}