body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(24, 23, 23);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 20px;
    z-index: 1;
}

header button {
    background-color: #00000000;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: inherit;
}

header img {
    position: relative;
    z-index: inherit;
}

#tearmscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.671);
    z-index: 100;
}

.tearms {
    background-color: #ffffff;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    z-index: 101;
}

.tearms button {
    background-color: #8807d9;
    color: rgb(241, 222, 222);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
}

.premium {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Default .pcontainer style */
.pcontainer {
    background-color: #181818;
    border-radius: 8px;
    padding: 20px;
    width: 20vw;
    margin: 20px;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pcontainer h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.paybutton {
    margin-top: auto; /* Pushes the button to the bottom */
    display: inline-block;
    padding: 10px 70px;
    font-size: 1.1em;
    color: #fff;
    background-color: #a814e2;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.paybutton:hover {
    background-color: #7e1ed7;
}

.paymentcontainer {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.qr {
    background-color: #ffffff;
    width: fit-content;
    padding: 50px;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr img {
    max-width: 50vw;
    max-height: 50vw;
    width: auto; 
    height: auto;
}

.qr button {
    border: 1px solid transparent;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 15px; 
    background-color: transparent;
    color: #000;
    font-size: 25px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .premium {
        flex-direction: column;
        align-items: center;
    }

    .pcontainer {
        width: 80vw; /* Adjust the width as needed */
        margin: 1vw 5vw; /* Adjust margin for spacing between elements */
    }
}
