/* General styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(35, 21, 40);
    background-attachment: fixed;
    /* This fixes the background image */
    height: 100vh;
    width: 94.5vw;
    margin: 0;
    padding: 0 0.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    /* Adjusts the width for smaller screens */
    max-width: 400px;
    /* Ensures it doesn't get too wide on larger screens */
}

.popup button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #a814e2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}



/* Header section */
.header {
    width: 96vw;
    background-color: rgba(250, 84, 250, 0);
    color: rgb(77, 77, 77);
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 2vw;
    z-index: 1;
}


.header img {
    position: inherit;
    left: 0;
    margin-right: auto;
}

.button {
    padding: 1vw 2vw;
    background-color: rgb(112, 34, 77);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.creditbox {
    position: relative;
    left: 2vw;
    resize: both;
    width: fit-content;
    height: fit-content;
    padding: 2.5vw;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 10px;
    list-style-type: decimal;
}

#items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5vw;
    column-gap: 1vw;
    row-gap: 1vw;
}


.item {
    background-color: aliceblue;
    color: #000000;
    padding: 1vw;
    border-radius: 10px;
    width: fit-content;
}


@media (max-width: 768px) {
    #items-container {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: 90%;
        text-align: center;
    }

    .creditbox {
        margin: 0 auto;
        width: 90%;
        padding: 5vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .button {
        width: 80%;
        /* Full-width button on mobile */
        padding: 2vw;
        /* Adjust padding for mobile */
    }

    .popup {
        width: 90%;
        /* Increase the width for very small screens */
        padding: 15px;
        /* Reduce padding for smaller screens */
    }

    .popup button {
        width: 100%;
        /* Ensure the button takes full width on smaller screens */
        padding: 15px;
    }
}